**/.vs
**/bin
**/obj
**/Web.config
**/App.config
BookSharing/.vs/BookSharing/v16/.suo
BookSharing/.vs/BookSharing/v16/.suo
BookSharing/BLL/bin/Debug/BLL.dll
BookSharing/BLL/bin/Debug/BLL.pdb
BookSharing/BLL/bin/Debug/DAL.dll
BookSharing/BLL/bin/Debug/DAL.pdb
BookSharing/BLL/bin/Debug/ELL.dll
BookSharing/BLL/bin/Debug/ELL.pdb
BookSharing/BLL/obj/Debug/BLL.csproj.AssemblyReference.cache
BookSharing/BLL/obj/Debug/BLL.csproj.CoreCompileInputs.cache
BookSharing/BLL/obj/Debug/BLL.dll
BookSharing/BLL/obj/Debug/BLL.pdb
BookSharing/BookSharing/bin/BLL.dll
BookSharing/BookSharing/bin/BLL.pdb
BookSharing/BookSharing/bin/BookSharing.dll
BookSharing/BookSharing/bin/BookSharing.pdb
BookSharing/BookSharing/bin/DAL.dll
BookSharing/BookSharing/bin/DAL.pdb
BookSharing/BookSharing/bin/ELL.dll
BookSharing/BookSharing/bin/ELL.pdb
BookSharing/BookSharing/obj/Debug/BookSharing.dll
BookSharing/BookSharing/obj/Debug/BookSharing.pdb
BookSharing/BookSharing/obj/Debug/PresentationLayer.csproj.AssemblyReference.cache
BookSharing/BookSharing/obj/Debug/PresentationLayer.csproj.CoreCompileInputs.cache
BookSharing/DAL/bin/Debug/DAL.dll
BookSharing/DAL/bin/Debug/DAL.pdb
BookSharing/DAL/DAL.csproj
BookSharing/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
BookSharing/DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
BookSharing/DAL/obj/Debug/DAL.dll
BookSharing/DAL/obj/Debug/DAL.pdb
BookSharing/DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BookSharing/ELL/bin/Debug/ELL.dll
BookSharing/ELL/bin/Debug/ELL.pdb
BookSharing/ELL/ELL.csproj
BookSharing/ELL/obj/Debug/ELL.csproj.AssemblyReference.cache
BookSharing/ELL/obj/Debug/ELL.csproj.CoreCompileInputs.cache
BookSharing/ELL/obj/Debug/ELL.dll
BookSharing/ELL/obj/Debug/ELL.pdb
BookSharing/.vs/BookSharing/v16/.suo
